@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  padding-top: 5em;
}

.blog-post {
  margin-bottom: 3rem;
}

.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.blog-post-title a {
  color: black;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.tags {
  padding: 0;
  list-style: none;
}

.is-primary {
  background: #8eb4cb;
}

.is-primary:hover {
  background: #1b6d85;
}

.tag {
  display: inline-block;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.2rem;
}

.tag a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  line-height: 16px;
}

.sidebar-module {
  padding: 1rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

