
// Body
$body-bg: #f5f8fa;
$body-padding-top: 5em;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colors
$primary-color: #8eb4cb;
$primary-hover-color: #1b6d85;

// Tag
$tag-radius: 0.25rem;
$tag-padding: 0.5rem;
$tag-margin: 0.2rem;

// Blog Post
$post-padding-bottom: 3rem;
$post-title-margin-bottom: .25rem;
$post-title-font-size: 2.5rem;
$post-title-link-color: black;
$post-meta-margin-bottom: 1.25rem;
$post-meta-color: #999;

// Sidebar
$sidebar-module-padding: 1rem;

// Space
$top-space-margin: 4rem;
$bottom-space-margin: 4rem;

// Comment
$comment-body-margin-left: 2rem;
$comment-body-margin-bottom: 2rem;
$comment-border-color: #428bca;
$comment-border-width: 1px;
$comment-padding: 5px;

