
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: $body-padding-top;
}

.blog-post {
  margin-bottom: $post-padding-bottom;
}

.blog-post-title {
  margin-bottom: $post-title-margin-bottom;
  font-size: $post-title-font-size;

  a {
    color: $post-title-link-color;
  }
}

.blog-post-meta {
  margin-bottom: $post-meta-margin-bottom;
  color: $post-meta-color;
}

.tags {
  padding: 0;
  list-style: none;
}

.is-primary {
  background: $primary-color;

  &:hover {
    background: $primary-hover-color;
  }
}

.tag {
  display: inline-block;
  border-radius: $tag-radius;
  padding-left: $tag-padding;
  padding-right: $tag-padding;
  margin: $tag-margin;

  a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    line-height: 16px;
  }
}

.sidebar-module {
  padding: $sidebar-module-padding;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.top-space {
  margin-top: $top-space-margin;
}

.bottom-space {
  margin-bottom: $bottom-space-margin;
}

.comment-body {
  margin-left: $comment-body-margin-left;
  margin-bottom: $comment-body-margin-bottom;
  border-bottom: $comment-border-width dashed $comment-border-color;
  padding: $comment-padding;
}

.avatar {
  border-radius: 50%;
}

.avatar.normal {
  height: 120px;
  width: 120px;
}

.avatar.small {
  height: 30px;
  width: 30px;
}

#flash-message {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  animation: flash-message 6s forwards;
}

@keyframes flash-message {
  0%   {opacity: 1;}
  100% {opacity: 0; display:none;}
}