
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: $body-padding-top;
}

.blog-post {
  margin-bottom: $post-padding-bottom;
}

.blog-post-title {
  margin-bottom: $post-title-margin-bottom;
  font-size: $post-title-font-size;

  a {
    color: $post-title-link-color;
  }
}

.blog-post-meta {
  margin-bottom: $post-meta-margin-bottom;
  color: $post-meta-color;
}

.tags {
  padding: 0;
  list-style: none;
}

.is-primary {
  background: $primary-color;

  &:hover {
    background: $primary-hover-color;
  }
}

.tag {
  display: inline-block;
  border-radius: $tag-radius;
  padding-left: $tag-padding;
  padding-right: $tag-padding;
  margin: $tag-margin;

  a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    line-height: 16px;
  }
}

.sidebar-module {
  padding: $sidebar-module-padding;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}