
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: $body-padding-top;
}

.blog-post {
  margin-bottom: $post-padding-bottom;
}

.blog-post-title {
  margin-bottom: $post-title-margin-bottom;
  font-size: $post-title-font-size;

  a {
    color: $post-title-link-color;
  }
}

.blog-post-meta {
  margin-bottom: $post-meta-margin-bottom;
  color: $post-meta-color;
}